@font-face {
    font-family: "Exo-Italic";
    src: url(./fonts/Exo-Italic-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: "Exo-Variable";
    src: url(./fonts/Exo-VariableFont_wght.ttf) format('truetype');
}

body {
    height: 100vh;
    margin: 0;
    overflow: scroll;
    font-family: 'Exo-Variable', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.header {
    background-color: #0b6fca;
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-color: #ffd1ba;
}

.logo {
    width: 200px;
    margin: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    gap: 30px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}

.title {
    background-color: #0b6fca;
    color: #85c2bd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-l {
    width: 400px;
    margin: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.title-p {
    color: #ffffff;
}

.digital-marketing {
    width: 400px;
    margin: 20px;
    border-radius: 8px;
}

button {
    background-color: transparent;
    border-radius: 8px;
    border-color: #ffd1ba;
    border-style: solid;
    color: #ffd1ba;
    width: 150px;
    height: 40px;
}

.services-header {
    text-align: center;
    color: #0b6fca;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;

}

.office-shots {
    width: 225px;
    border-radius: 8px;
    border-style: solid;
    border-color: #0b6fca;
    border-width: 4px;
}

.images-description {
    width: 225px;
    text-align: center;
    font-weight: 500;
}

.inspiration {
    background-color: #cac6c4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex: 1 1 700px;
    padding: 50px;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: larger;
    text-align: left;
    width: 700px;

}

.author {
    font-weight: 900;
    font-size: x-large;
    text-align: right;
}

.footer {
    background-color: #1b4435;
    color: #ffd1ba;
    text-align: center;
}

.cta {
    background-color: #0b6fca;
    margin: 50px auto;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex: 1 1 50%;
    align-items: center;
    justify-content: space-between;
}

.left {
    color: #ffffff;
    margin: 20px auto;
}

.button {
    margin: 20px auto;
    text-align: center;
    margin: auto;

}
